<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title><%=title%></title>
		<!-- Favicon -->
		<link rel="shortcut icon" type="image/icon" href="/images/favicon.ico"/>
		<!-- Font Awesome -->
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
		<!-- Bootstrap -->
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<!-- Slick slider -->
		<link href="/css/slick.css" rel="stylesheet">
		<!-- Theme color -->
		<link id="switcher" href="/css/default-theme.css" rel="stylesheet">
		<!-- Main Style -->
		<link href="/css/style.css" rel="stylesheet">

		<!-- Fonts -->

		<!-- Open Sans for body font -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800" rel="stylesheet">
		<!-- Lato for Title -->
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	</head>

	<body>
		<!-- Start Header -->
		<header id="mu-header" class="" role="banner">
			<div class="container">
				<nav class="navbar navbar-default mu-navbar">
					<div class="container-fluid">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>

							<!-- Text Logo -->
							<a class="navbar-brand" href="/"><i class="fa fa-book" aria-hidden="true"></i> Library</a>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav mu-menu navbar-right">
								<%for(i=0; i<nav.length; i++) {%>
									<li><a href="<%=nav[i]['href']%>"><%=nav[i]['name']%></a></li>
								<%}%>
								<%if(current_user === 0){%>
									<li><a href="/account/login">LOGIN</a></li>
								<%} else {%>
									<li><a href="/account/logout">LOGOUT</a></li>
									<li>
										<a href="/account" id="menu_username">
											<b>Hi! <%=current_user['nickname']%></b>
										</a>
										<style>
											#menu_username:after {
												background-color: rgb(255 255 255 / 0%);
											}
										</style>
									</li>
								<%}%>
							</ul>
						</div><!-- /.navbar-collapse -->
					</div><!-- /.container-fluid -->
				</nav>
			</div>
		</header>
		<!-- End Header -->

		<!-- START Featured Section -->
		<section id="mu-hero" style="min-height: 100vh; min-width: 100vw; overflow: hidden;">
			<div class="container">
				<div class="row">
					<table id="<%=book%>">
						<tr class="book_row">
							<td>
								<img src="<%='/images/books/' + book + '.jpg'%>" class="img-thumbnail table_book"  onerror="this.src='/images/books/aa.png';" style="min-width: 20vw;">
							</td>
							<td style="text-align: justify; padding-left: 2em;">
								<h3><%=book_list[book]['title']%></h3>
								<p><%=book_list[book]['abstract']%></p>
								<p>Author: <%=book_list[book]['author']%> Publisher: <%=book_list[book]['publisher']%></p>
								<small>
									ISBN: <%=book_list[book]['ISBN']%> Genre:
									<%for (i of book_list[book]['genre']) {%>
										<%=i + ' '%>
									<%}%>
								</small>
							</td>
						</tr>
						<tr>
							<td>
								<!-- detect which mode to go back to [list/grid]-->
								<script>
									const queryString = window.location.search;
									const urlParams = new URLSearchParams(queryString);
									const grid = urlParams.get('grid')
									if(grid) document.write(`<button type="submit" class="mu-send-msg-btn" onclick="window.location.replace('/book/grid');"><span>BACK</span></button>`);
									else document.write(`<button type="submit" class="mu-send-msg-btn" onclick="window.location.replace('/book');"><span>BACK</span></button>`);
								</script>
								<style>
									.mu-send-msg-btn {
										border: 1px solid white;
										color: #ff871c;
										background-color: white; font-size: 100%;
									}
								</style>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</section>
		<!-- END Featured Section -->

		<!-- jQuery library -->
		<script src="/js/jquery-1.11.3.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<!-- Bootstrap -->
		<script src="/js/bootstrap.min.js"></script>
		<!-- Custom js -->
		<script type="text/javascript" src="/js/custom.js"></script>
	</body>
</html>